
@import '/src/styles/mixins.sass'
@import '/src/styles/vars.sass'
.searchFormBlock
    display: flex
    flex-direction: column
    margin-top: auto
    gap: 24px

    .searchForm
        display: flex
        width: 100%
        // margin-top: auto
        // margin-bottom: auto
        transition: all .3s ease-in
        &--toUp
            margin-top: 0
            margin-bottom: 0
            transition: all .3s ease-in

    input
        width: 100%
        padding: 20px 24px
        font-size: 32px
        line-height: 40px
        @include sm
        font-size: 24px
        line-height: 32px
        @include xs
        padding: 16px
        font-size: 20px
        line-height: 28px

.searchList
    background: $base-white
    display: flex
    flex-direction: column
    border-radius: 12px
    > div
        border-bottom: 1px solid $orange
        &:last-child
            border: none
    &__link
        align-self: center
