@import 'reset-css/sass/reset'
@import '/src/styles/vars.sass'
@import '/src/styles/mixins.sass'

*
    margin: 0
    padding: 0
    box-sizing: border-box
    scroll-behavior: smooth
html
    background-color: $gray
body
    font-family: var(--font-mulish)
    font-size: 14px
    font-weight: 400
    line-height: 22px
    letter-spacing: -0.02em
    // width: 100%
    height: 100%
    position: relative
    display: block

input
    outline: none
    padding-block: 0
    padding-inline: 0
    border: 0

a
    text-decoration: none
    color: inherit
    &:visited
        color: inherit
    p:hover
        @include orangeTextHover
